body {
    background-color: #2f3136;
    color: #e5ebec;
    font-family: 'Noto Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
header {
    background-color: #202225;
    color: #e5ebec;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}
#top {
    margin-left: auto;
    margin-right: auto;
    background: #2f3136;
    width: 1000px;
    border-bottom: #202225 4px solid;
    border-radius: 8px;
}
#header {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background: #7289DA;
    height: 50px;
    text-align: center;
    border-radius: 8px 8px 0px 0px;
}
#stuff {
    padding-left: 30px;
}
#updated {
    text-align: center;
    font-weight: bold;
    clear: both;
}
#list {
    text-align: left;
    float: left;
    width: 350px;
}
#specs {
    text-align: left;
    width: 350px;
    float: left;
    padding-left: 100px;
}
#specs-head {
    text-align: left;
    padding-left: 30px;
}
#copypasta-collection {
    text-align: center;
    text-justify: auto;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background: #2f3136;
    border-radius: 8px;
    
}
#header2 {
    color: #e5ebec;
    background: #7289DA;
    border-radius: 8px 8px 0px 0px;
    height: 50px;
}
#into {
    text-align: center;
}
#progress {
    color: #00ff37;
}
#progress2 {
    color: #ff9100;
}
#done {
    color: #00ff2a
}
#done2 {
    color: #00ff2a
}
#done3 {
    color: #00ff2a
}
#done4 {
    color: #00ff2a
}
#done5 {
    color: #00ff2a
}
#notdone {
    color: #ff0000
}
#notdone2 {
    color: #ff0000
}
#notdone3 {
    color: #ff0000
}
#notdone4 {
    color: #ff0000
}
#notdone5 {
    color: #ff0000
}
#notdone6 {
    color: #ff0000
}
#notdone7 {
    color: #ff0000
}
#collection-content {
    text-align: left;
}
#collection-head {
    text-align: center;
}
#IQ {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
#animal-crossing {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
#navy {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
#mum {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
#pixie {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
#navy-osu {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
#woxy {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
#spongebob {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
#navy-osu {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
#titan-creepypasta {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
#toys {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
#salty {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
#navy-titan {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
a {
    color: #bbffa6;
    text-decoration: none;
}
.hover {
    text-decoration: underline;
    color: white;
}
.link, .visited {
    text-decoration: none;
    color: white;
}
.solid {border-style: solid}
.groove {border-style: groove}